
:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --paragraph-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  }
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto;
}
.accent {
  color: var(--accent-color);
}
.logo {
  text-decoration-line: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-text-color);
}
.address-link {
  text-decoration-line: none;  
  color: var(--paragraph-text-color);
  font-weight: 500;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
.list {
  list-style-type: none;
}
.main-menu-link {
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: rgba(47, 48, 58, 1);
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover {
  border-color: rgba(33, 150, 243, 1);
}
button {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button
.hero-button:hover

.vision-title {
  font-family: Roboto
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}